In [1]:
import pandas as pd

In [2]:
y2022_12 = pd.read_csv ('2023/JC-202212-citibike-tripdata.csv')
y2023_01 = pd.read_csv ('2023/JC-202301-citibike-tripdata.csv')
y2023_02 = pd.read_csv ('2023/JC-202302-citibike-tripdata.csv')
y2023_03 = pd.read_csv ('2023/JC-202303-citibike-tripdata.csv')
y2023_04 = pd.read_csv ('2023/JC-202304-citibike-tripdata.csv')
y2023_05 = pd.read_csv ('2023/JC-202305-citibike-tripdata.csv')
y2023_06 = pd.read_csv ('2023/JC-202306-citibike-tripdata.csv')
y2023_07 = pd.read_csv ('2023/JC-202307-citibike-tripdata.csv')
y2023_08 = pd.read_csv ('2023/JC-202308-citibike-tripdata.csv')
y2023_09 = pd.read_csv ('2023/JC-202309-citibike-tripdata.csv')

In [3]:
y2022_12. head (3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,099D81CA71EBADAB,classic_bike,2022-12-23 16:02:26,2022-12-23 16:09:40,Mama Johnson Field - 4 St & Jackson St,HB404,Adams St & 11 St,HB507,40.743140,-74.040041,40.750916,-74.033541,member
1,D979F3B79FC30F1F,electric_bike,2022-12-27 10:54:29,2022-12-27 10:59:23,Jersey & 3rd,JC074,Marin Light Rail,JC013,40.723332,-74.045953,40.714584,-74.042817,member
2,3950909BC3B42E43,classic_bike,2022-12-31 10:39:39,2022-12-31 11:00:52,Morris Canal,JC072,LaGuardia Pl & W 3 St,5721.14,40.712252,-74.038188,40.729170,-73.998102,member

In [4]:
y2023_08.head (3)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E2E964A161F786AB,classic_bike,2023-08-07 19:37:47,2023-08-07 19:41:14,6 St & Grand St,HB302,Madison St & 10 St,HB503,40.744398,-74.034501,40.749943,-74.035865,member
1,0660F2E48E3BB87F,classic_bike,2023-08-01 13:16:22,2023-08-01 13:26:02,6 St & Grand St,HB302,6 St & Grand St,HB302,40.744398,-74.034501,40.744398,-74.034501,member
2,940FC7C675232897,classic_bike,2023-08-15 17:28:23,2023-08-15 17:50:35,Heights Elevator,JC059,Heights Elevator,JC059,40.748721,-74.040480,40.748716,-74.040443,member

In [5]:
y_2022_2023 = pd.concat([y2022_12, y2023_01, y2023_02, y2023_03, y2023_04, y2023_05, y2023_06, y2023_07, y2023_08, y2023_09],ignore_index=True)

In [6]:
y_2022_2023.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805526 entries, 0 to 805525
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             805526 non-null  object
 1   rideable_type       805526 non-null  object
 2   started_at          805526 non-null  object
 3   ended_at            805526 non-null  object
 4   start_station_name  805459 non-null  object
 5   start_station_id    805459 non-null  object
 6   end_station_name    802854 non-null  object
 7   end_station_id      802854 non-null  object
 8   start_lat           805526 non-null  float64
 9   start_lng           805526 non-null  float64
 10  end_lat             804649 non-null  float64
 11  end_lng             804649 non-null  float64
 12  member_casual       805526 non-null  object
dtypes: float64(4), object(9)
memory usage: 79.9+ MB

In [8]:
y_2022_2023[['start_Date', 'start_Time']] = y_2022_2023['started_at'].str.split(' ', expand=True)


y_2022_2023['start_Date'] = pd.to_datetime(y_2022_2023['start_Date'])
y_2022_2023['start_Time'] = pd.to_datetime(y_2022_2023['start_Time'], format='%H:%M:%S').dt.time

#y_2022_2023.drop(columns=['started_at'], inplace=True)

In [9]:
y_2022_2023. head ()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_Date,start_Time
0,099D81CA71EBADAB,classic_bike,2022-12-23 16:02:26,2022-12-23 16:09:40,Mama Johnson Field - 4 St & Jackson St,HB404,Adams St & 11 St,HB507,40.743140,-74.040041,40.750916,-74.033541,member,2022-12-23,16:02:26
1,D979F3B79FC30F1F,electric_bike,2022-12-27 10:54:29,2022-12-27 10:59:23,Jersey & 3rd,JC074,Marin Light Rail,JC013,40.723332,-74.045953,40.714584,-74.042817,member,2022-12-27,10:54:29
2,3950909BC3B42E43,classic_bike,2022-12-31 10:39:39,2022-12-31 11:00:52,Morris Canal,JC072,LaGuardia Pl & W 3 St,5721.14,40.712252,-74.038188,40.729170,-73.998102,member,2022-12-31,10:39:39
3,372E50F5FB4FD434,classic_bike,2022-12-05 08:16:10,2022-12-05 08:20:09,Morris Canal,JC072,Columbus Drive,JC014,40.712419,-74.038526,40.718355,-74.038914,member,2022-12-05,08:16:10
4,AB701FB8091C7431,classic_bike,2022-12-02 13:40:36,2022-12-02 13:46:11,Harborside,JC104,Grove St PATH,JC005,40.719252,-74.034234,40.719586,-74.043117,member,2022-12-02,13:40:36

In [10]:
y_2022_2023[['end_Date', 'end_Time']] = y_2022_2023['ended_at'].str.split(' ', expand=True)


y_2022_2023['end_Date'] = pd.to_datetime(y_2022_2023['end_Date'])
y_2022_2023['end_Time'] = pd.to_datetime(y_2022_2023['end_Time'], format='%H:%M:%S').dt.time

#y_2022_2023.drop(columns=['started_at'], inplace=True)

In [11]:
y_2022_2023.head ()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,start_Date,start_Time,end_Date,end_Time
0,099D81CA71EBADAB,classic_bike,2022-12-23 16:02:26,2022-12-23 16:09:40,Mama Johnson Field - 4 St & Jackson St,HB404,Adams St & 11 St,HB507,40.743140,-74.040041,40.750916,-74.033541,member,2022-12-23,16:02:26,2022-12-23,16:09:40
1,D979F3B79FC30F1F,electric_bike,2022-12-27 10:54:29,2022-12-27 10:59:23,Jersey & 3rd,JC074,Marin Light Rail,JC013,40.723332,-74.045953,40.714584,-74.042817,member,2022-12-27,10:54:29,2022-12-27,10:59:23
2,3950909BC3B42E43,classic_bike,2022-12-31 10:39:39,2022-12-31 11:00:52,Morris Canal,JC072,LaGuardia Pl & W 3 St,5721.14,40.712252,-74.038188,40.729170,-73.998102,member,2022-12-31,10:39:39,2022-12-31,11:00:52
3,372E50F5FB4FD434,classic_bike,2022-12-05 08:16:10,2022-12-05 08:20:09,Morris Canal,JC072,Columbus Drive,JC014,40.712419,-74.038526,40.718355,-74.038914,member,2022-12-05,08:16:10,2022-12-05,08:20:09
4,AB701FB8091C7431,classic_bike,2022-12-02 13:40:36,2022-12-02 13:46:11,Harborside,JC104,Grove St PATH,JC005,40.719252,-74.034234,40.719586,-74.043117,member,2022-12-02,13:40:36,2022-12-02,13:46:11

In [12]:
y_2022_2023.to_csv('y_2022_2023.csv', index=False)

In [13]:
y_2022_2023. info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805526 entries, 0 to 805525
Data columns (total 17 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             805526 non-null  object
 1   rideable_type       805526 non-null  object
 2   started_at          805526 non-null  object
 3   ended_at            805526 non-null  object
 4   start_station_name  805459 non-null  object
 5   start_station_id    805459 non-null  object
 6   end_station_name    802854 non-null  object
 7   end_station_id      802854 non-null  object
 8   start_lat           805526 non-null  float64
 9   start_lng           805526 non-null  float64
 10  end_lat             804649 non-null  float64
 11  end_lng             804649 non-null  float64
 12  member_casual       805526 non-null  object
 13  start_Date          805526 non-null  datetime64[ns]
 14  start_Time          805526 non-null  object
 15  end_Date            805526 non-null  datetime64[ns]
 16  end_Time            805526 non-null  object
dtypes: datetime64[ns](2), float64(4), object(11)
memory usage: 104.5+ MB